<html xmlns:th="http://www.thymeleaf.org">
<head><title>Change password</title></head>
<body>
	<h3>Change password</h3>
	<form th:action="@{/changepassword}" method="post">
		<label for="oldPassword">Current Password</label>
		<input type="password" id="oldPassword" name="oldPassword"/>

		<label for="newPassword">New Password</label>
		<input type="password" id="newPassword" name="newPassword"/>

		<label for="newPasswordCheck">Repeat New Password</label>
		<input type="password" id="newPasswordCheck" name="newPasswordCheck"/>
		<div class="form-actions">
			<button type="submit" class="btn">Submit</button>
		</div>
	</form>
</body>
</html>
